@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
body{
    background-image: url('mcbg1.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.active {
    background-color: #04AA6D;
  }
  ul {
      width: 860px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
#container{
    font-family: 'Stick No Bills' , sans-serif;
    width: 860px;
    height: 100%;
    background-color: blue;
}
.content{
    color: white;
    
    line-height: 150%;
    size: 13px;
    float: right;
}

h1{
    text-align: center;
    color: white;
}
.header{

}
.footer{
    clear: both;
    text-align: left;
    height: 60px;

}
.news{
    background-color: blue;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: justify;
    float: top;
    color: white;
}