@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
body{
  background-image: url('Képek/mcbg4.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-color: #0066CC;
}
#container{
  font-family: 'Stick No Bills' , sans-serif;
  width: 860px;
  height: 100%;
  background-color: #0066CC;
  color: white;
}
.header{
  margin-top: 15px;
  padding-top: 2px;
  
}
.Xbox{
  float: right;
  margin-left: 30px;
}
.Playstation, .Pc , .Xbox{
  margin-right: 15px;
  margin-left: 30px;
}
.Playstation{
  float: left;
}
.Pc{
  float: right;
}
#nev{
  width: 180px;
  height: 135px;
}
#ar, #nev{
  padding-left: 5px;
  padding-right: 5px;
}
.smallpic{
  width: 100px;
  height: 125px;
}
h2{
  float: top;
  text-align: center;
}
table, th, td {
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: black;
  }
.active {
    background-color: #0066CC;
  }
  ul {
      width: 860px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
.content{
    line-height: 150%;
    size: 13px;
    float: left;
    padding-bottom: 15px;
    padding-left: 15px;
}
h1{
    text-align: center;
}
.footer{
    clear: both;
    text-align: left;
    height: 60px;
}

#button {
  background-color: #4CAF50; 
  border: #111;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.news{
    background-color: #0066CC;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: justify;
    float: top;
}
.footer{
  padding-bottom: 15px;
}
.copyrightlight{
  color: lightblue;
  text-align: left;
  padding-left: 15px;
}
#cartlisttb ,#cartlisttr, #cartlisttd{
  text-align: center;
  background-color: #04AA6D;
  width: 20px;
  border: 1px solid white;
    border-collapse: collapse;
}
#kekw{
  background-color: #333300;
  width: 200px;
}


.newspicture{
  float: left;
  width: 200px;
  padding-right: 3px;
  padding-left: 3px;
}
.newstext{
  text-align: center;
  float: right;
  width: 200px;
  padding-right: 3px;
  padding-left: 3px;
}
.firstarticle{
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.aboutus1 ,.aboutus2, .aboutus3{
  margin-left: 10px;
  padding-right: 15px;
  margin-right: 15px;
  height: 250px;
}
.aboutus1text, .aboutus2text, .aboutus3text{
  text-align: right;
  word-wrap: break-word;
  width: 400px;
  float: right;
}
.aboutus1pic, .aboutus2pic, .aboutus3pic{
  float: left;
  width: 400px;
}
.smallpicxd{
  width: 350px;
  height: 200px;
}
.aboutustitle{
  text-align: center;
  text-decoration: underline;
  border-spacing: 5px;
  word-spacing: 5px;
}